/*body style*/
body{
  font-family: Helvetica;
  font-size: 22px;
  text-align: center;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

/*header*/
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid white;
}

.logo img{
  margin-left: 10px;
  height: 50px;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}

nav a{
  color: white;
}

/*mission*/
.mission{
  display: flex;
  align-items: center;
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  background-repeat: no-repeat;
}

.mtag{
  width: 1200px;
  background-color: black;
}

/*tea of the month*/
.monthly{
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.photo .tea{
  display: inline-block;
}

.tea{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  height: 200px;
  width: 300px;
  padding: 10px;
}

/*loactions*/
.locate.me{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
}

.locate.me h3{
  text-align: center;
}

.locations{
  display: flex;
}

.locations .place{
  display: block;

}

.place{
  background-color: black;
  padding-top: 15px;
  padding-left: 40px;
  width: 300px;
  height: 300px;
  margin: auto;
}






 /*footer*/
.info{
  text-align: center;
}
.copyright{
  text-align: left;
}
